@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
:root
{
    --color-black:#171717;
    --color-gray:#444444;
    --color-primary:#DA0037;
    --color-light:#EDEDED;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
    background-color: var(--color-black);
}
.container{
    max-width: 1300px;
    margin: auto;
}
.form{
    max-width: 600px;
    margin: auto;
    margin-top: 64px;
    background-color: var(--color-gray);
    padding: 32px;
    border-radius: 48px;
}
.heading{
    font-size: 4em;
    text-align: center;
    color: var(--color-light);
    margin-bottom: 32px;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}
.form-group>label{
    font-size: 1.58em;
    margin-bottom: 8px;
    color: var(--color-light);
}
.form-group>input{
    border: 2px solid transparent;
    padding: 0.8em;
    font-size: 16px;
    border-radius: 100px;
    transition: border 0.2s ease-in-out;
}
.form-group>input:focus{
    border: 2px solid var(--color-primary) ;
    outline: none;

}
.form-submit{
    display: flex;
    gap: 16px;
    margin-top: 32px;
}
.form-submit>input{
    flex-grow: 1;
    padding: 0.8em 0 ;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 15px;
    border: 0;
}
.form-submit>input[type="submit"]
{
    flex-grow: 2;
    background-color: var(--color-primary);
    color: var(--color-light);
}